/* 英文字体 */
@font-face {
  font-family: 'En';
  src: url('/assets/fonts/en.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'En';
  src: url('/assets/fonts/en-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'En Mono';
  src: url('/assets/fonts/en-mono.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* 中文字体 */
@font-face {
  font-family: 'Zh';
  src: url('/assets/fonts/zh.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Zh';
  src: url('/assets/fonts/zh-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Zh Mono';
  src: url('/assets/fonts/zh-mono.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

html, body, :root {
  --ant-font-family: 'En', 'Zh', -apple-system, BlinkMacSystemFont, sans-serif;
  --ant-font-family-code: 'En Mono', 'Zh Mono', monospace;
}

.ant-layout, .ant-typography {
  font-family: var(--ant-font-family) !important;
}