/* 英文字体 */
@font-face {
  font-family: 'En';
  src: url('/assets/fonts/en.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'En';
  src: url('/assets/fonts/en-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'En Mono';
  src: url('/assets/fonts/en-mono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 中文字体 */
@font-face {
  font-family: 'Zh';
  src: url('/assets/fonts/zh.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zh';
  src: url('/assets/fonts/zh-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root, .css-var-rc, body {
  --ant-font-family: 'En', 'Zh', -apple-system, BlinkMacSystemFont, sans-serif !important;
  --ant-font-family-code: 'En Mono', monospace !important;
}

html, body, .ant-layout {
  font-family: var(--ant-font-family) !important;
}