---
---

@charset "utf-8";

@import
  "fonts",
  "reset",
  "container",
  "header",
  "float",
  "footer",
  "page",
  "post-list",
  "post",
  "category",
  "highlighter",
  "mobile",
  "printer",
  "task-list",
  "mermaid"
;

em, i {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.formula-inline {
  display: inline-flex;
  align-items: center; /* 垂直居中 */
  gap: 1em;
}

.formula-text {
  display: inline-block;
  text-align: right; /* 或 left */
  line-height: 1.4;
}

.formula-math {
  display: inline-block;
}

.post-content p {
  text-indent: 2em;
}