---
---

@charset "utf-8";

@import
  "fonts",
  "reset",
  "container",
  "header",
  "float",
  "footer",
  "page",
  "post-list",
  "post",
  "category",
  "highlighter",
  "mobile",
  "printer",
  "task-list",
  "mermaid"
;

html {
  font-family: 'En', 'Zh', sans-serif;
}

code, pre {
  font-family: 'En Mono', 'Zh Mono', monospace;
}

.text-center {
  text-align: center;
}