---
---

@charset "utf-8";

@import
  "fonts",
  "reset",
  "container",
  "header",
  "float",
  "footer",
  "page",
  "post-list",
  "post",
  "category",
  "highlighter",
  "mobile",
  "printer",
  "task-list",
  "mermaid"
;

em, i {
  font-style: italic;
}

f-tshyn {
  font-family: 'TH-Tshyn', sans-serif !important;
}

f-times {
  font-family: 'TH-Times', serif !important;
}

f-mono {
  font-family: 'En Mono', Courier New, monospace !important; 
  display: inline !important;
  white-space: nowrap !important;
}

strong f-mono,
f-mono strong {
  display: inline !important;
  font-weight: bold !important;
}

f-italic {
  font-family: 'Zh', sans-serif !important;
  font-style: italic !important;
  display: inline !important;
}

strong f-italic,
f-italic strong {
  display: inline !important;
  font-style: italic !important;
  font-weight: bold !important;
}

blockquote {
  display: flex;
  flex-direction: column;
}

blockquote em, 
blockquote strong {
  align-self: flex-end;
  text-align: right;
}

.vovs {
    -webkit-text-emphasis: dot;
    text-emphasis: dot;
    -webkit-text-emphasis-position: under right;
    text-emphasis-position: under right;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.formula-inline {
  display: inline-flex;
  align-items: center;
  gap: 1em;
}

.formula-text {
  display: inline-block;
  text-align: right; /* 或 left */
  line-height: 1.4;
}

.formula-math {
  display: inline-block;
}

.post-content p {
  text-indent: 2em;
}