---
---

@charset "utf-8";

@import
  "fonts",
  "reset",
  "container",
  "header",
  "float",
  "footer",
  "page",
  "post-list",
  "post",
  "category",
  "highlighter",
  "mobile",
  "printer",
  "task-list",
  "mermaid"
;

:root {
  --ant-font-family: 'En', 'Zh', -apple-system, BlinkMacSystemFont, sans-serif;
  --ant-font-family-code: 'En Mono', 'Zh Mono', monospace;
}

em, i {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}