<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  {% include head.html %}
</head>
<script>
    const toggleButton = document.getElementById('theme-toggle');
    
    toggleButton.addEventListener('click', () => {
      const currentTheme = document.documentElement.getAttribute('data-theme');
      let newTheme = 'light';
      
      if (currentTheme === 'light') {
        newTheme = 'dark';
        toggleButton.innerHTML = '☀️';
      } else {
        newTheme = 'light';
        toggleButton.innerHTML = '🌙';
      }
      
      document.documentElement.setAttribute('data-theme', newTheme);
      localStorage.setItem('theme', newTheme);
    });

    document.addEventListener("DOMContentLoaded", function() {
      const toggleButton = document.getElementById('theme-toggle');
      const currentTheme = document.documentElement.getAttribute('data-theme');
      if (currentTheme === 'dark' && toggleButton) {
        toggleButton.innerHTML = '☀️';
      }
    });
  </script>
</body>
</html>
<body>
  <div class="container-wrapper">
    <header class="container-header">
      {% include header.html %}
    </header>
    <main class="container-main">
      {{content}}
    </main>
    <footer class="container-footer">
      {% include footer.html %}
    </footer>
  </div>
</body>
</html>
<style>
  :root, .css-var-rc {
    --ant-font-family: 'En', 'Zh', sans-serif !important;
    --ant-font-family-code: 'En Mono', 'Zh Mono', monospace !important;
  }

  body, .ant-typography, .ant-layout {
    font-family: 'En', 'Zh', sans-serif !important;
  }
</style>