<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  {% include head.html %}
</head>
<body>
  <div class="container-wrapper">
    <header class="container-header">
      {% include header.html %}
    </header>
    <main class="container-main">
      {{content}}
    </main>
    <footer class="container-footer">
      {% include footer.html %}
    </footer>
  </div>

  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/script/returnToTop.js"></script>
</body>
</html>
<style>
  :root, .css-var-rc {
    --ant-font-family: 'En', 'Zh', sans-serif !important;
    --ant-font-family-code: 'En Mono', 'Zh Mono', monospace !important;
  }

  body, .ant-typography, .ant-layout {
    font-family: 'En', 'Zh', sans-serif !important;
  }
</style>